jsonplaceholderservices/src/main/mule/jsonplaceholderservices.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/mule-dw.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bff457cb-7186-4f7f-8e98-7dd93590e3aa">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b450177c-b871-48e6-8411-e3c4afbdff59"/>
	<flow name="getAllPostsWithCommentsFlow">
    <http:listener config-ref="HTTP_Listener_config" path="/postsWithComments" method="GET"/>
    <http:request config-ref="HTTP_Request_configuration" method="GET" url="https://jsonplaceholder.typicode.com/posts" doc:name="Get Posts"/>
    <foreach>
        <http:request config-ref="HTTP_Request_configuration" method="GET" url="https://jsonplaceholder.typicode.com/comments" doc:name="Get Comments">
        </http:request>
        <set-variable variableName="comments" value="#[payload]" doc:name="Comments"/>
        <set-payload value="#[{
            id: payload.id,
            title: payload.title,
            body: payload.body,
            comments: vars.comments
        }]"/>
    </foreach>
</flow>

	<flow name="removePostFlow">
    <http:listener config-ref="HTTP_Listener_config" path="/removePost/{postId}" method="DELETE"/>
    <http:request config-ref="HTTP_Request_configuration" method="DELETE" url="https://jsonplaceholder.typicode.com/comments" doc:name="Delete Comments">
    </http:request>
    <http:request config-ref="HTTP_Request_configuration" method="DELETE" url="https://jsonplaceholder.typicode.com/posts/{postId}" doc:name="Delete Posts"/>
    <set-payload value="#[{message: 'Post and comments deleted successfully.'}]"/>
</flow>
<flow name="updateCommentFlow">
    <http:listener config-ref="HTTP_Listener_config" path="/updateComment/{commentId}" method="PUT"/>
    <http:request config-ref="HTTP_Request_configuration" method="PUT" url="https://jsonplaceholder.typicode.com/comments/{commentId}" doc:name="Update Comments">
        <http:body><![CDATA[{
            "name": payload.name,
            "email": payload.email,
            "body": payload.body
        }]]></http:body>
    </http:request>
    <set-payload value="#[{message: 'Comment updated successfully.', updatedComment: payload}]"/>
</flow>

</mule>
