mymuleproject/src/main/mule/muleflows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/mule-dw.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bdf9bca8-5295-41ae-80fb-9e28c403cb87">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
	<http:request-config name="https_Request_configuration" doc:name="HTTP Request configuration" doc:id="bc83baf0-9eff-459d-b43d-3363b33d9c42">
		<http:request-connection protocol="HTTPS" host="jsonplaceholder.typicode.com" port="443" />
	</http:request-config>
	<flow name="getAllPostsWithCommentsFlow" doc:id="9e09eeca-28d4-4cdc-8fd1-43a0e7d8d0ba">
    <http:listener config-ref="HTTP_Listener_config" path="/postsWithComments" method="GET"/>
    <http:request config-ref="https_Request_configuration" method="GET" doc:name="Get Posts" path="/posts"/>
    <foreach>
        <http:request config-ref="https_Request_configuration" method="GET" doc:name="Get Comments" path="/comments">
        </http:request>
        <set-variable variableName="comments" value="#[payload]" doc:name="Comments"/>
        <set-payload value="#[{
            id: payload.id,
            title: payload.title,
            body: payload.body,
            comments: vars.comments
        }]"/>
    </foreach>
</flow>

	<flow name="removePostFlow" doc:id="2f5be207-0faa-414c-b282-78ba98f1c1c6">
    <http:listener config-ref="HTTP_Listener_config" path="/removePost/{postId}" method="DELETE"/>
    <http:request config-ref="https_Request_configuration" method="DELETE" url="https://jsonplaceholder.typicode.com/comments" doc:name="Delete Comments">
    </http:request>
    <http:request config-ref="https_Request_configuration" method="DELETE" url="https://jsonplaceholder.typicode.com/posts/{postId}" doc:name="Delete Posts"/>
    <set-payload value="#[{message: 'Post and comments deleted successfully.'}]"/>
</flow>
<flow name="updateCommentFlow" doc:id="f6b46a69-3cb1-4c2d-8d18-bf86e44a2c99">
    <http:listener config-ref="HTTP_Listener_config" path="/updateComment/{commentId}" method="PUT"/>
    <http:request config-ref="https_Request_configuration" method="PUT" url="https://jsonplaceholder.typicode.com/comments/{commentId}" doc:name="Update Comments">
        <http:body><![CDATA[{
            "name": payload.name,
            "email": payload.email,
            "body": payload.body
        }]]></http:body>
    </http:request>
    <set-payload value="#[{message: 'Comment updated successfully.', updatedComment: payload}]"/>
</flow>

</mule>
