mymuleproject/src/main/mule/muleflows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/mule-dw.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="https_Request_configuration" doc:name="HTTP Request configuration" doc:id="bc83baf0-9eff-459d-b43d-3363b33d9c42">
		<http:request-connection protocol="HTTPS" host="jsonplaceholder.typicode.com" port="443" />
	</http:request-config>
	<flow name="getAllPostsWithCommentsFlow" doc:id="9e09eeca-28d4-4cdc-8fd1-43a0e7d8d0ba">
    <http:listener config-ref="mymuleproject-httpListenerConfig" path="/postsWithComments"/>
    <http:request config-ref="https_Request_configuration" method="GET" doc:name="Get Posts" path="/posts"/>
    <foreach>
        <http:request config-ref="https_Request_configuration" method="GET" doc:name="Get Comments" path="/comments">
				<http:query-params ><![CDATA[#[output application/java
---
{
	postId : payload.id
}]]]></http:query-params>
        </http:request>
        <set-variable variableName="comments" value="#[payload]" doc:name="Comments"/>
        <set-payload value="#[{
            id: payload.id,
            title: payload.title,
            body: payload.body,
            comments: vars.comments
        }]"/>
    </foreach>
</flow>

	<flow name="removePostFlow" doc:id="2f5be207-0faa-414c-b282-78ba98f1c1c6">
    <http:listener doc:name="Listener" doc:id="7752278f-8713-4268-a846-ba6c203b9760" config-ref="mymuleproject-httpListenerConfig" path="/removePost/{postId}"/>
		<http:request config-ref="https_Request_configuration" method="DELETE" doc:name="Delete Comments" path="/comments">
			<http:query-params ><![CDATA[#[output application/java
---
{
	postId : attributes.uriParams.postId
}]]]></http:query-params>
    </http:request>
    <http:request config-ref="https_Request_configuration" method="DELETE" doc:name="Delete Posts" path="/posts/{postId}"/>
    <set-payload value="#[{message: 'Post and comments deleted successfully.'}]"/>
</flow>
<flow name="updateCommentFlow" doc:id="f6b46a69-3cb1-4c2d-8d18-bf86e44a2c99">
    <http:listener config-ref="mymuleproject-httpListenerConfig" path="/updateComment/{commentId}" allowedMethods="GET"/>
    <http:request config-ref="https_Request_configuration" method="PUT" doc:name="Update Comments" path="/comments/#{attributes.uriParams.commentId}">
        <http:body><![CDATA[{
            "name": payload.name,
            "email": payload.email,
            "body": payload.body
        }]]></http:body>
    </http:request>
    <set-payload value="#[{message: 'Comment updated successfully.', updatedComment: payload}]"/>
</flow>

</mule>
