mymuleproject/src/main/mule/mymuleproject.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="mymuleproject-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mymuleproject-config" api="resource::0242e5dd-043a-420d-af92-e619e11e9c94:mymuleproject:1.0.4:raml:zip:mymuleproject.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" keepApiBaseUri="true"/>
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="85992d11-617e-4ad0-a189-c5fc3e3e63c0" >
		<http:request-connection protocol="HTTPS" host="jsonplaceholder.typicode.com" port="443" />
	</http:request-config>
	<flow name="mymuleproject-main">
        <http:listener config-ref="mymuleproject-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mymuleproject-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mymuleproject-console">
        <http:listener config-ref="mymuleproject-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mymuleproject-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
  <!--   <flow name="put:\comments\(commentId):application\json:mymuleproject-config">
		<http:listener config-ref="mymuleproject-httpListenerConfig" path="/updateComment/{commentId}" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="commentId">attributes.uriParams.'commentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<http:request config-ref="HTTP_Request_configuration" method="PUT" doc:name="Update Comments" path="/comments">
        <http:body><![CDATA[{
            "name": payload.name,
            "email": payload.email,
            "body": payload.body
        }]]></http:body>
			<http:query-params ><![CDATA[#[output application/java
-&#45;&#45;
{
	commentId : attributes.uriParams.'commentId'
}]]]></http:query-params>
    </http:request>
		<set-payload value="#[{message: 'Comment updated successfully.', updatedComment: payload}]"/>
    </flow>
    <flow name="delete:\posts\(postId):mymuleproject-config">
    <http:listener doc:name="Listener" doc:id="002acfaa-56e7-41b4-a0a1-9419d1d48c51" config-ref="mymuleproject-httpListenerConfig" path="/removePost/{postId}"/>
		<ee:transform doc:name="Transform Message" doc:id="96d7fd46-7345-4883-93fa-83b292150cf6">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="postId"><![CDATA[
attributes.uriParams.'postId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request config-ref="HTTP_Request_configuration" method="DELETE" doc:name="Delete Comments" path="/comments">
			<http:query-params ><![CDATA[#[output application/java
-&#45;&#45;
{
	postId : attributes.uriParams.postId
}]]]></http:query-params>
    </http:request>
    <http:request config-ref="HTTP_Request_configuration" method="DELETE" doc:name="Delete Posts" path="/posts/{postId}"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{
  message: "Post and comments deleted successfully."
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\posts\(postId)\comments:mymuleproject-config">
		<http:listener config-ref="mymuleproject-httpListenerConfig" path="/postsWithComments"/>
		<http:request config-ref="HTTP_Request_configuration" method="GET" doc:name="Get Posts" path="/posts"/>
		<foreach>
        <http:request config-ref="HTTP_Request_configuration" method="GET" doc:name="Get Comments" path="/comments">
				<http:query-params ><![CDATA[#[output application/java
-&#45;&#45;
{
	postId : payload.userId
}]]]></http:query-params>
        </http:request>
        <set-variable variableName="comments" value="#[payload]" doc:name="Comments"/>
    </foreach>
		<set-payload value="#[{
            id: payload.id,
            title: payload.title,
            body: payload.body,
            comments: vars.comments
        }]" />
		 <logger level="INFO" doc:name="Loggerpost" doc:id="b7fb35c5-4da0-48a2-a7f3-6b68271a1d6c" message="#[payload]" />
    </flow> -->
</mule>
